


footer{
  height: 50px;
  background-color: #1b1e22;
   color: antiquewhite;
  margin: 0;
  text-align: center;
  padding-top:10px;
  position: static;
  
}
main{margin-bottom:50px ;}
.App {
  text-align: center;
  background-color: black;
}
.container {
  position: relative;
  width: 50%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay1 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: '14rem';
 
  opacity: 0;
  transition: .5s ease;
  background-color: black;
}

.container:hover .overlay1 {
  opacity: 0.8;
}

.text {
  color: white;
  font-size: 13px;
  position: absolute;
  text-justify: auto;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  
}
.container-3{display: flex;}
.container-2{display: flex;
flex-direction: column;
margin-right: 50px;
}
.wrapp{margin-top: 50px;
  margin-left: 50px;
  margin-right: 50px;
  display:flex;
  flex-wrap: wrap;}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.movieCard {
	position: relative;
	transition: transform 0.2s;
  margin:20px;
  
  
}


.movieCard:hover {
	cursor: pointer;
	transform: scale(1.1);
}

.movieCard:hover  {
	opacity: 1;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.desc-2{display: flex;
margin: 20px;}
.desc-1{display: flex;
flex-direction: column;
background-color: beige;
padding: 30px;
box-shadow: coral;
border-radius: 8%;
margin: 50px;}
.poster{width:25%}
.home{
  background-color: rgb(199, 14, 51);
  border: crimson;
  margin: 20px;
 }
.home:hover {background-color: rgb(124, 4, 28);}



.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}